@import '../css/_colors.scss';

*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.container-fluid {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.header {
    background: $dark-blue;
    .header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .header__icons {
            display: flex;
            align-items: center;
            width: 35%;
            justify-content: space-between;
            .icons__sign,
            .icons__basket {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                }
                a {
                    color: $white;
                    margin: 0 15px;
                    text-decoration: none;
                }
                span {
                    color: $white;
                }
            }
            select {
                height: 30px;
                width: 150px;
                font-size: 14px;
                outline: none;
            }
        }
    }
    
}

nav {
    background: $light-blue;
    .menu__links {
        display: flex;
        padding: 15px 0;
        justify-content: space-between; 
        width: 70%;
        margin: 0 auto;
        li {
            list-style: none;
            color: $white;
            padding: 10px 20px;
            a {
                color: $white;
                text-decoration: none;
            }
            &:hover {
                background: $dark-blue;
                border-radius: 20px;
            }
        }
    }
}

.main__carousel {
    margin: 5vw 0;
    display: block;
    .carousel__prod {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        img {

        }
    }
}