@import '../css/_colors.scss';

*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.container-fluid {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 70vw;
}

.header {
    background: $dark-blue;
    .header__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        .header__icons {
            display: flex;
            align-items: center;
            width: 30vw;
            justify-content: space-between;
            .icons__sign,
            .icons__basket {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                }
                a {
                    color: $white;
                    margin: 0 15px;
                    text-decoration: none;
                }
                span {
                    color: $white;
                }
            }
            select {
                height: 30px;
                width: 150px;
                font-size: 14px;
                outline: none;
            }
        }
    }
    
}

nav {
    background: $light-blue;
    .menu__links {
        display: flex;
        padding: 15px 0;
        justify-content: space-between; 
        width: 70%;
        margin: 0 auto;
        align-items: center;
        li {
            list-style: none;
            color: $white;
            padding: 10px 20px;
            a {
                color: $white;
                text-decoration: none;
            }
            &:hover {
                background: $dark-blue;
                border-radius: 20px;
            }
        }
        span {
            color: $white;
        }
    }
}

.main__carousel.owl-carousel {
    margin: 5vw 0;
    display: block;
    .carousel__prod {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        img {
            width: 151px;
            margin: 0 auto 20px;
            height: 194px;
        }
        .prod__name {
            margin-bottom: 20px;
            text-align: center;
        }
        .prod__desc {
            p {
                font-size: 13px;
                line-height: 24px;
                span {
                    color: $light-blue;
                    margin-right: 10px;
                }
            }
        }
        button {
            font-size: 18px;
            background: $light-blue;
            color: $white;
            width: 60%;
            text-align: center;
            padding: 6px;
            border-radius: 35px;
            border: none;
            margin: 20px auto 0;
            display: block;
            &:hover {
                background: $dark-blue;
                cursor: pointer;
            }
        }
    }
}

.cards__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card {
        padding: 20px;
        border: 1px solid $grey;
        width: 15%;
        border-radius: 7px;
        &.invalid {
            border: 1px solid $red; 
        }
        button {
            width: 18%;
            height: 37px;
            background: none;
            border: 1px solid $grey;
            border-radius: 10px;
            margin-bottom: 5px;
            margin-right: 0px;
            position: relative;
            outline: none;
            &:hover {
                cursor: pointer;
                background: $grey;
            }
            &.choice {
                &:after {
                    background-image: url(../images/cross.svg);
                    content: '';
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    border-radius: 10px;
                    background-color: rgba(255, 255, 255, 0.8);
                    z-index: 99999;
                    background-size: 25px;
                    background-repeat: space;
                    background-position: center;
                }
            }
        }
    }
}

.cards__error {
    padding-top: 10px;
    color: $red;
    display: none;
    &.show {
        display: block;
    }
}

.cards__check {
    font-size: 18px;
    background: $light-blue;
    color: $white;
    width: 20%;
    text-align: center;
    padding: 6px;
    border-radius: 35px;
    border: none;
    margin: 20px auto 0;
    display: block;
    &:hover {
        background: $dark-blue;
        cursor: pointer;
    }
}

.footer {
    background: $dark-blue;
    padding: 20px 0;
    margin-top: 5%;
    .footer__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .footer__item {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            a {
                color: $white;
                text-decoration: none;
                line-height: 24px;
            }
        }
        .footer__social {
            p {
                color: $white;
                margin-bottom: 20px;
            }
        }
        
    }
    
}