*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.container-fluid {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 70vw;
}

.header {
  background: #00425d;
}

.header .header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header .header__block .header__icons {
  display: flex;
  align-items: center;
  width: 30vw;
  justify-content: space-between;
}

.header .header__block .header__icons .icons__sign,
.header .header__block .header__icons .icons__basket {
  display: flex;
  align-items: center;
}

.header .header__block .header__icons .icons__sign img,
.header .header__block .header__icons .icons__basket img {
  width: 30px;
}

.header .header__block .header__icons .icons__sign a,
.header .header__block .header__icons .icons__basket a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

.header .header__block .header__icons .icons__sign span,
.header .header__block .header__icons .icons__basket span {
  color: #fff;
}

.header .header__block .header__icons select {
  height: 30px;
  width: 150px;
  font-size: 14px;
  outline: none;
}

nav {
  background: #0b6e96;
}

nav .menu__links {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

nav .menu__links li {
  list-style: none;
  color: #fff;
  padding: 10px 20px;
}

nav .menu__links li a {
  color: #fff;
  text-decoration: none;
}

nav .menu__links li:hover {
  background: #00425d;
  border-radius: 20px;
}

.main__carousel.owl-carousel {
  margin: 5vw 0;
  display: block;
}

.main__carousel.owl-carousel .carousel__prod {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main__carousel.owl-carousel .carousel__prod img {
  width: 151px;
  margin: 0 auto 20px;
  height: 194px;
}

.main__carousel.owl-carousel .carousel__prod .prod__name {
  margin-bottom: 20px;
  text-align: center;
}

.main__carousel.owl-carousel .carousel__prod .prod__desc p {
  font-size: 13px;
  line-height: 24px;
}

.main__carousel.owl-carousel .carousel__prod .prod__desc p span {
  color: #0b6e96;
  margin-right: 10px;
}

.main__carousel.owl-carousel .carousel__prod button {
  font-size: 18px;
  background: #0b6e96;
  color: #fff;
  width: 60%;
  text-align: center;
  padding: 6px;
  border-radius: 35px;
  border: none;
  margin: 20px auto 0;
  display: block;
}

.footer {
  background: #00425d;
  padding: 20px 0;
}

.footer .footer__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer .footer__block .footer__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer .footer__block .footer__item a {
  color: #fff;
  text-decoration: none;
  line-height: 24px;
}

.footer .footer__block .footer__social p {
  color: #fff;
  margin-bottom: 20px;
}
